*{
  box-sizing: border-box;
  font-family: "Roboto";
}
.container-captcha{
  background: #8B1E2E;
  position: relative;
  left: 40%;
  width: 500px;
  height: 250px;

  }
#captcha{
  position: absolute;
  height: 100px;
  width: 450px;
  left: 20px;
  top: 15px;
}
.box-input{
  position: relative;
  height: 150px;
  width: 460px;
  top:130px;
}
.input-captcha{
  position: absolute;
  height: 100px;
  width: 200px;
  top: 10px;
  left: 20px;
}
#text-captcha{
  background: #F9E777;
  height: 90px;
  width: 220px;
}
.icons{
  position: absolute;
  height: 100px;
  width: 60px;
  left: 270px;
  top: 10px;
}
.icons div{
  height: 30px;
  width: 25px;
  color: white;
  font-size: 1.5em;
}
.box-img{
  position: absolute;
  width: 200px;
  height: 100px;
  left: 310px;
  top:10px;
}
img{
  width: 160px;
  height: 60px;
}
